* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.header {
    min-height: 57vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: poppins;
}

nav img {
    width: 170px;
}
.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

/* Media queary for small screen below the width of 600px */

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }

    .images {
        display: block;
        color: #fff;
        margin: 10px;
        cursor: pointer;
    }
}

/* Contact */

.contact {
    width: 80%;
    margin: 70px auto;
}

.container {
    display: flex;
}

.contact-right {
    flex-basis: 60%;
    justify-content: baseline;
    padding-top: 100px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-left h1 {
    font-weight: 600;
    font-size: 60px;
}

.contact-left p {
    font-size: 16px;
}

.contact-left, .contact-right {
    margin: auto;
}

.contact .container .subtitle {
    margin: 40px auto;
}

.contact-left p {
    font-size: 17px;
    line-height: 4;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #c1bfbf;
    padding: 15px;
    margin: 20px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form input, form textarea::placeholder {
    font-weight: 600;
    color: #f44336;
}

form .btn {
    margin-right: 5px;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #f44336;
    border: #f44336;
    border-radius: 5px;
    color: #fff;
    margin-left: 13px;
}











/* Footer */
.footer {
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: 600;
}
